$color-light-gray: #eee;


header {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.hero {
	position: relative;
	min-height: 600px;
	width: 100%;
	@media (min-width: 550px) {min-height: 100vh;}
	background: #34495e;
	background: rgba(52,73,94,1);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(52,73,94,1)), color-stop(79%, rgba(42,59,77,1)), color-stop(100%, rgba(34,49,64,1)));
	background: -webkit-linear-gradient(top, rgba(52,73,94,1) 0%, rgba(42,59,77,1) 79%, rgba(34,49,64,1) 100%);
	background: linear-gradient(to bottom, rgba(52,73,94,1) 0%, rgba(42,59,77,1) 79%, rgba(34,49,64,1) 100%);
    
	.title-container {
		h1,h4,h6 { color: #fff; }
		.blurb {
			line-height: 2em;
		}
	}

	.title {
		padding-top: 7em;
		margin-bottom: .1em;
		@media (min-width: 550px) {padding-top: 45vh;}
	}
	
	.button-download {
		margin: 3rem 0 8rem;
	}
	
	.velociraptor-icon {
		position: absolute;
		top: 30%;
		left: 50%;
		max-width: 90%;
		transform: translate3d(-40%,-50%,0);
		// opacity: .2;
	}
}

.example-grid {
  margin-bottom: 4rem;
  
  .row {
    margin-bottom: .5em;
  }
  
  .column,
  .columns {
    text-align: center;
    background: $color-light-gray;
  }
}

.example-section {
  margin-top: 8rem;
}

.heading-label {
  display: inline-block;
  width: 8rem;
}

.table-dinosaurs .dino-list {
  max-width: 25rem;
}

footer {
	padding: 6em 0;
	
	p {
		margin: 1em;
	}
	
	a {
		margin: 0 1.5em;
		text-decoration: none;
		color: #333;
	}
}
